.ticket_logo__label{
    background-color: #3498db;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    color: white;
    padding: 6px 23px;
    width: 100%;
    text-align: center;
}
.ticket_logo__img{
    margin: 0px auto 8px;
    padding-top: 70px;
}