@import '../../variables.scss';

.ticket_logo__label{
    background-color: $button-blue;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    text-align: center;
}
.ticket_logo__img{
    margin: 0px auto 8px;
    padding-top: 70px;
}