.ticket_logo__label{
    background-color: #3498db;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    color: white;
    padding: 6px 23px;
}
.ticket_logo__img{
    margin: 65px auto 8px;
}